.bannerTitleText {
    font-size: 250%;
}

#bannerTitle {
	background-image: url(../image/super_healthy_food.jpg);
    background-size: 100%;
    background-position: center;
}

#courseDescription {
    background-color: lightblue;
}

@keyframes bounce {
	0%, 20%, 60%, 100% {
		-webkit-transform: translateY(0);
		transform: translateY(0);
	}

	40% {
		-webkit-transform: translateY(-20px);
		transform: translateY(-20px);
	}

	80% {
		-webkit-transform: translateY(-10px);
		transform: translateY(-10px);
	}
}

#blockText:hover{
    font-weight: bold;
    animation: bounce 2s;
}

body{
    font-family: cursive;
}
#instruction1{
	text-align: center;
	font-size: 25px;
	font-family: Arial, Helvetica, sans-serif;
}

#instruction2{
	text-align: center;
	font-size: 25px;
	font-family: Arial, Helvetica, sans-serif;
}
#menu{
	text-align: center;
	display: inline-block;
	top: 30px;
	left: 170px;
}
#input_amount {
    max-width: 15em;
    top: 30px;
    left: 170px;
}
.food{
	width: 160px;
	height: 160px;
	position: relative;;
	text-align: center;
	display: inline-block;
}
.is-food{
	height: 200px;
	text-align: center;
	padding-top: 30px;
	padding-bottom: 30px;
}

#login{
	background-color: lightblue;
}

#logo{
	padding-bottom: 6px;
}